
@{
    ViewData["Title"] = "Quality";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--================Blog Area =================-->
<section class="blog_area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="img/blog/single_blog_1.png" alt="">

                        </div>

                        <div class="blog_details">
                            <a class="d-inline-block" href="single-blog.html">
                                <h2>We are presently accepting the following:</h2>
                            </a>
                            <ul>
                                <li>Boys and girls FALL-WINTER clothing, current fashion and in like-new condition, sizes Newborn to 16 teens. </li>
                                <li>Clothing must look brand new and be the current fashion.</li>
                                </ul>

                        </div>
                    </article>

                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="img/blog/single_blog_1.png" alt="">

                        </div>

                        <div class="blog_details">
                            <a class="d-inline-block" href="single-blog.html">
                                <h2>
                                    Conditions in which we do not accept clothing
                                </h2>
                            </a>
                            <ul>
                                <li>
                                    Pilling fabric (fuzzy from frequent washing)
                                </li>
                                <li>
                                    Rips, tears or frayed edges
                                </li>
                                <li>
                                    Detached seams
                                </li><li>       
                                 Stained or dirty clothing
                                    </li><li>
    Cigarette smoke or other bad smells
</li><li>
    Missing buttons or broken zippers
</li><li>
    Misshapen clothing
</li><li>
    Faded colours
</li><li>
    Missing brand and size labels</li><li>
    Animal fur or human hair
</li><li>
    Counterfeit (fake) items!</li>
</ul>

                        </div>
                    </article>



                </div>
            </div>

        </div>
    </div>
    </div>
</section>
<!--================Blog Area =================-->
