
@{
    ViewData["Title"] = "Shipping";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--================Blog Area =================-->
<section class="blog_area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="img/blog/single_blog_1.png" alt="">
                           
                        </div>

                        <div class="blog_details">
                            <a class="d-inline-block" href="single-blog.html">
                                <h2>Shipping Fees (Canada Post)</h2>
                            </a>
                            <ul>
                                <li>nearlyNew offers Free Shipping in Canada for orders over $99 in Quebec and Ontario, and $120 for other provinces  (excluding Northwest Territories, Nunavut, and Yukon). </li>
                                <li>For orders under the free shipping rates, Canada Post will calculate and charge you the actual shipping fees at checkout.</li>
                                <li>**For very small items that can be mailed in an envelope, the mailing fee is $4.50. Please contact nearlyNew to verify if the item you would like to purchase small enough to fit in an envelope. Please note that tracking is not available for envelope shipments.</li>
                                <li>*No shipping charge for local pick-ups in Scarborough,ON.</li>
                            </ul>
                            
                        </div>
                    </article>

                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="img/blog/single_blog_1.png" alt="">
                          
                        </div>

                        <div class="blog_details">
                            <a class="d-inline-block" href="single-blog.html">
                                <h2>
                                    ** Shipping to the USA:
                                </h2>
                            </a>
                            <ul>
                                <li>Free shipping is offered for orders over $135. Under that amount, Canada Post will calculate and charge you the actual shipping fees at checkout.  </li>
                                <li>All orders shipped outside of the Canada are Delivery Duty Unpaid. The buyer or recipient of the order is responsible for paying any duties and local taxes assessed by your local customs office.</li>
                            </ul>

                        </div>
                    </article>



                </div>
            </div>

        </div>
    </div>
    </div>
</section>
<!--================Blog Area =================-->
